.profile {
  width: 320px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description {
  text-align: center;
}
.avatar {
  width: 200px;
  background: orange;
  border-radius: 100px;
}
.name,
.tag,
.location {
  /* line-height: 3px; */
  margin: 0;
}
.name {
  font-size: 23px;
  font-weight: 700;
}
.tag {
  font-size: 20px;
  font-weight: 500;
  color: coral;
}
.stats {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.stats > li {
  list-style-type: none;
}
.label {
  margin-right: 10px;
}
